html, body, div, span, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}

$base-color:  #0560d2;
$second-blue: #75ACBC;
$third-blue: #548C9C;
$secondary-color: #bf0900;

body {
  background-color: lightgray;
  font-family: sans-serif;
}

.app-page {
  background-color: $base-color;
  width: 80%;
  height: 100%;
  min-height: 680px;
  min-width: 1000px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #989898;
}

.app-rows {
  .top {
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }
  .middle {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.app-thinking {
  font-size: 120px;
}

.app-enter {
  margin: auto;
  display: block;
  background-color: $secondary-color;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    background-color: #bb4f49;
  }
}

.app-capitol {
  background-image: url('../../assets/capitol.png');
  width: 474px;
  height: 300px;
}
