@import 'colors.scss';

.db {
  .db-group {
    background-color: #858688;
    min-height: 100vh;
    width: 80%;
    min-width: 1024px;
    margin: auto;
    box-shadow: 0px 0px 10px 2px;
  }
}

.cl-group {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

.ct-group {
  width: 229px;
  margin-top: 10px;
  border: 2px solid white;
  box-sizing: border-box;

  &:hover {
    border-color: $active;
    .ct-name {
      border-color: $active;
    }
  }

  img {
    width: 225px;
    height: 275px;
    margin: auto;
  }

  .ct-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    text-align: center;
    color: white;
    font-size: 18px;
    border-top: 2px solid white;
    box-sizing: border-box;
    &.republican {
      background-color: $secondary-color;
    }
    &.democrat {
      background-color: $base-color;
    }
  }
}
