@import 'colors.scss';

.db {
  .db-group {
    background-color: #858688;
    min-height: 100vh;
    width: 80%;
    min-width: 1024px;
    margin: auto;
    box-shadow: 0px 0px 10px 2px;
  }
}

.congress-with-filter-group {
  width: 95%;
  margin: auto;

  .filter-group {
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;

    .filter-search {
      font-size: 18px;
      padding: 10px;
      border-radius: 5px;
      width: 300px;

      &.disabled {
        background-color: #bdc3c7;
        opacity: 0.7;
      }
    }

    .cancel-filter {
      position: absolute;
      top: 8px;
      right: 5px;
      width: 25px;
      height: 25px;
      background: red;
      text-align: center;
      border-radius: 5px;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .error-list {
    font-weight: bold;
    text-align: center;
  }

  .cl-group {
    display: flex;
    justify-content: space-evenly;
  }

  .ct-group {
    width: 229px;
    margin-top: 10px;
    border: 2px solid white;
    box-sizing: border-box;

    &:hover {
      border-color: $active;
      .ct-name {
        border-color: $active;
      }
    }

    .faux-image {
      width: 225px;
      height: 275px;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
    }

    img {
      width: 225px;
      height: 275px;
      margin: auto;
    }

    .ct-name {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      text-align: center;
      color: white;
      font-size: 18px;
      border-top: 2px solid white;
      box-sizing: border-box;
      &.republican {
        background-color: $secondary-color;
      }
      &.democrat {
        background-color: $base-color;
      }
    }
  }
}
