@import 'colors.scss';

.h-group {
  height: 51px;
  padding-top: 5px;
  $left-percent: 30%;
  $right-percent: 100% - $left-percent;
  background-color: $secondary-color;
  color: white;
  border-bottom: 1px solid white;

  .h-left {
    display: inline-block;
    width: $left-percent;

    div {
      width: 60%;
      margin-left: 36px;
      font-size: 26px;
      padding: 10px;
      text-align: center;
      &.active {
        background-color: #858688;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid white;
        border-bottom: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .h-right {
    display: inline-flex;
    justify-content: flex-end;
    width: $right-percent;
    div {
      display: inline-block;
      padding: 10px;
      font-size: 26px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: #858688;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid white;
        border-bottom: none;
      }
    }
  }
}
